<div class="container">
  <!--<mat-card>-->
    <!--<p>-->
      <!--<img class="logo" src="assets/ngx-rocket-logo.png" alt="angular logo"/>-->
    <!--</p>-->
    <!--<mat-card-content>-->
      <!--<mat-card-title translate>Hello world !</mat-card-title>-->
      <!--<mat-card-subtitle>-->
        <!--<app-loader [isLoading]="isLoading" size="1.5"></app-loader>-->
        <!--<q [hidden]="isLoading">{{quote}}</q>-->
      <!--</mat-card-subtitle>-->
    <!--</mat-card-content>-->
  <!--</mat-card>-->
  <mat-card>
    <mat-card-content>
      <mat-card-title>Welcome to the loan calculator.</mat-card-title>
      <mat-card-subtitle>Please fill the inputs below to get started.</mat-card-subtitle>
    <form class="example-form">
      <mat-form-field class="example-full-width">
        <input [(ngModel)]="totalAmount" (ngModelChange)="getPayments()" name="totalAmount" matInput placeholder="Loan amount">
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <input [(ngModel)]="annualInterest" name="annualInterest" matInput placeholder="Annual interest rate">
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <input [(ngModel)]="loanPeriods" name="loanPeriods" matInput placeholder="Loan period in months">
      </mat-form-field>
    </form>
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-content>
      <mat-table #table [dataSource]="payments">

        <!-- Position Column -->
        <ng-container matColumnDef="period">
          <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
          <mat-cell *matCellDef="let payment"> {{payment.period}} </mat-cell>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="payment">
          <mat-header-cell *matHeaderCellDef> Payment Amount (£) </mat-header-cell>
          <mat-cell *matCellDef="let payment"> {{payment.payment}} </mat-cell>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="principal">
          <mat-header-cell *matHeaderCellDef> Principal Amount (£) </mat-header-cell>
          <mat-cell *matCellDef="let payment"> {{payment.principal}} </mat-cell>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="interest">
          <mat-header-cell *matHeaderCellDef> Interest Amount (£) </mat-header-cell>
          <mat-cell *matCellDef="let payment"> {{payment.interest}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="balance">
          <mat-header-cell *matHeaderCellDef> Interest Amount (£) </mat-header-cell>
          <mat-cell *matCellDef="let payment"> {{payment.balance}} </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
    </mat-card-content>
  </mat-card>
</div>
