.container {
  text-align: center;
  padding: 1em;
}

//.logo {
//  width: 150px;
//  margin: 0 auto;
//}
//
//q {
//  font-style: italic;
//  quotes: "« " " »";
//}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  margin: auto;
}

.example-full-width {
  width: 100%;
}


