.container {
  text-align: center;
  padding: 1em;
}

.card {
  margin-bottom: 20px;
  padding-bottom: 20px;

  .form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    margin: 20px auto;
  }

  .form-field {
    width: 100%;
  }

  &-title {
    font-size: 32px;
    font-weight: 600;
  }

  &-text {
    padding: 0 20%;
    margin: 20px;
    font-size: 18px;
    @media (max-width: 768px) {
      padding: 0 10%;
    }
    @media (max-width: 480px) {
      padding: 0 2%;
    }
  }
}

.no-data {
  padding: 0;

  &-content {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: #666;
  }

  .icon {
    font-size: 48px;
    height: 48px;
    width: 48px;
    margin: 20px;
  }
}

.narrow {
  flex: 0 1 80px;
}

.mat-header-row, .mat-row {
  padding-right: 0;
}
