<div class="container">
  <mat-card class="card">
    <mat-card-content>
      <mat-card-title class="card-title">Loan calculator</mat-card-title>
      <mat-card-subtitle class="card-text">
        You may enter the loan amount, annual interest rate and loan term in years,
        in the fields below, to determine the monthly payments on a loan.
      </mat-card-subtitle>
      <form class="form">
        <mat-form-field class="form-field">
          <input
            [(ngModel)]="totalAmount" (ngModelChange)="getPayments()" matInput
            name="totalAmount" placeholder="Loan amount (£)" type="number" minlength="1">
        </mat-form-field>

        <mat-form-field class="form-field">
          <input [(ngModel)]="annualInterest" (ngModelChange)="getPayments()" matInput
                 name="annualInterest" placeholder="Annual interest rate (%)" type="number" minlength="1">
        </mat-form-field>

        <mat-form-field class="form-field">
          <input [(ngModel)]="years" (ngModelChange)="getPayments()" matInput
                 name="years" placeholder="Loan term in years" type="number" minlength="1">
        </mat-form-field>
      </form>
    </mat-card-content>
  </mat-card>
  <mat-card *ngIf="totalAmount && annualInterest && years; else noData">
    <mat-card-content>
      <mat-table #table [dataSource]="payments">

        <!-- Period Column -->
        <ng-container matColumnDef="period">
          <mat-header-cell *matHeaderCellDef class="narrow"> Month No.</mat-header-cell>
          <mat-cell *matCellDef="let payment" class="narrow"> {{payment.period}}</mat-cell>
        </ng-container>

        <!-- Payment Amount Column -->
        <ng-container matColumnDef="payment">
          <mat-header-cell *matHeaderCellDef> Payment Amount (£)</mat-header-cell>
          <mat-cell *matCellDef="let payment"> {{payment.payment | number:'1.2-2'}}</mat-cell>
        </ng-container>

        <!-- Principal Amount Column -->
        <ng-container matColumnDef="principal">
          <mat-header-cell *matHeaderCellDef> Principal Amount (£)</mat-header-cell>
          <mat-cell *matCellDef="let payment"> {{payment.principal | number:'1.2-2'}}</mat-cell>
        </ng-container>

        <!-- Interest Amount Column -->
        <ng-container matColumnDef="interest">
          <mat-header-cell *matHeaderCellDef> Interest Amount (£)</mat-header-cell>
          <mat-cell *matCellDef="let payment"> {{payment.interest | number:'1.2-2'}}</mat-cell>
        </ng-container>

        <!-- Balance Amount Column -->
        <ng-container matColumnDef="balance">
          <mat-header-cell *matHeaderCellDef> Balance (£)</mat-header-cell>
          <mat-cell *matCellDef="let payment"> {{payment.balance | number:'1.2-2'}}</mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
    </mat-card-content>
  </mat-card>

  <ng-template #noData>
    <mat-card class="no-data">
      <mat-card-content class="no-data-content">
        <mat-icon class="icon">date_range</mat-icon>
        <span>Your amortization schedule appears here.</span>
      </mat-card-content>
    </mat-card>
  </ng-template>
</div>
